/* styles.css */

body {
    font-family: 'Gaegu', Arial, sans-serif;
    background: url(/liv-site/site-imgs/plant.webp) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-container {
    background: url(/liv-site/site-imgs/snowfall.webp);
    background-color: rgb(255, 136, 243);
    background-size: cover;
    padding: 20px;
    border: #012b57 solid 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  .login-title {
    padding: 5px;
    margin: 20px;
    background-color: rgb(249, 213, 255);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #login-form {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  h1 {
    margin:auto;
    font-weight: light;
  }

  p {
    padding: 0;
    margin: 0;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-family: 'Pink Tape';
    font-size: medium;
  }
  
  .input-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Pink Tape';
  }
  
  button {
    background-color: rgb(249, 213, 255);
    color: rgb(0, 0, 0);
    border: #012b57 solid 3px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    max-width: fit-content;
    font-family: 'Gaegu', Arial, sans-serif;

  }
  
  button:hover {
    background-color: #7d00b3;
    color: rgb(255, 255, 255);
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    font-family: 'Cozy Kitty';
    font-weight: bold;
    margin-top: 10px;
  }